<!DOCTYPE html>
<html>

<head> 
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="App_style.css" />
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lobster|Poiret+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <title>First APP</title>
</head>

<body id="mainBody">

    <header id="mainHeader">Stock Investment Simulator App</header>

    <span id="username" style="display: none;"><%= message.username %></span>

    <p id="hello">Hello!</p>
    <form action='/login' method='POST'>
        <button type="submit" id="forgotButton" formaction='/login'>Click here to log out</button>
    </form>
    <div id="wrap">
        <br>
        <input type="text" class="mainInput" id="stonk" name="stock" value=""
            placeholder="Enter Stock Symbol (e.g. aapl)">
        <br>
        <br>
        <input type="text" class="mainInput" id="quant" name="number" value="" placeholder="Enter Number of Stocks">
        <br>
        <button onclick="myFunction()" id="submitButton">Submit</button>
    </div>
    <p class="symbolText">The symbol:</p>
    <p id="symbol"></p>
    <div id="combined">
        <h3 class="textContent">The latest price is:</h3>
        <h3 id="latestPrice"></h3>
        <h3 class="textContent">Total amount of stock:</h3>
        <h3 id="total">
            <h3>
                <div id="stock_info"> </div>
    </div>
    <script>
        var stocks = [];
        var prices = [];
        var quants = [];
        var total_val = 0;
        var orig_price = [];
        var names_done = [];
        $(document).ready(function(){
            update_latest();
            get_data_fserver();
        });

        async function update_latest(){
            const username = $("#username").html();
            const call_url = '/update_latest';
            var data = {'username': username};
            console.log("gonna call");
            const response = await fetch(call_url, {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify(data)
            });
            const success = await response.json();
            console.log(success);
        }

        //stockdata
        async function get_data_fserver(){
            const username = $("#username").html();
            const call_url = '/stockdata';
            console.log("55")
            var data = {"username": username};
            const response = await fetch(call_url, {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify(data)
            });
            console.log("64")
            const stock_json = await response.json();
            console.log(stock_json);
            for(stock_obj in stock_json) {
                console.log(stock_json[stock_obj]);
                var index = checkCompany(names_done,stock_json[stock_obj]["comp_name"]);
                console.log("index: " + index)
                if(index == -1) {
                    stocks.push(stock_json[stock_obj]["comp_name"]);
                    prices.push(parseInt(stock_json[stock_obj]["latestPrice"]));
                    quants.push(parseInt(stock_json[stock_obj]["quantity"]));
                    names_done.push(stock_json[stock_obj]["comp_name"])
                }
                else {
                    quants[index] += parseInt(stock_json[stock_obj]["quantity"]);
                }
                
            }
            build_table(); 
        }

        //Checks if a company is already in the stocks array
        function checkCompany(stocks, company) {
            var num = -1;
            if (stocks.length > 0) {
                for (x in stocks) {
                    if (company == stocks[x]) {
                        num = x;
                        return num;
                    }
                }
            } else {
                return -1;
            }
            return -1;
        }

        async function myFunction() {
            var sym = document.getElementById("stonk").value;
            var quantity = document.getElementById("quant").value;
            const username = $("#username").html();
            console.log(sym);
            console.log(username);
            document.getElementById("symbol").innerHTML = sym.toUpperCase();

            const api_url = '/stock/' + sym;
            data = {
                "quant": quantity,
                "username": username
            }

            const response = await fetch(api_url, {
                method: "POST",
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            });
            const json = await response.json();
            console.log(json);

            var latestPrice = json.latestPrice;
            var comp_name = json.companyName;

            var check = checkCompany(names_done, comp_name);
            //check = -1;
            //This check makes sure that you only update the quantity of stock
            //if you add more stock of the same company, not create a new row
            if (check == -1) {
                stocks.push(comp_name);
                prices.push(parseInt(latestPrice));
                quants.push(parseInt(quantity));
                names_done.push(comp_name);
            } else {
                quants[check] = quants[check] + parseInt(quantity);
                quantity = quants[check]; //This line updates the total closing stock value
            }
            
            document.getElementById("latestPrice").innerHTML = "$" + latestPrice.toLocaleString();

            build_table()
        }   

        function build_table() {
            var txt = "<h2> Your Stocks:</h2>" + " <table>";
            txt += "<tr><th id=\"topLeft\">Stock</th><th>Market Price</th><th>Quantity</th><th id=\"topRight\">Total Value</th></tr>";
            var total_stocks = 0.0;
            var total_price = 0.0;

            total_val = 0;

            for (x in stocks) {
                tot_quant = quants[x]
                txt += "<tr><td>" + stocks[x] + "</td><td>"  + "$" + prices[x].toLocaleString() + "</td><td>"+ tot_quant + "</td><td>" + "$" + (prices[x] * tot_quant).toLocaleString() + "</td></tr>";
                total_val += prices[x] * tot_quant;
            }

            txt += "</table>";
            document.getElementById("stock_info").innerHTML = txt;
            document.getElementById("total").innerHTML = "$" + total_val.toLocaleString();
        }
    </script>
</body>

</html>
