<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="App_style.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    
    <title>First APP</title>
    <style type="text/css">
        .message{font: 40px}
    </style>
    
    <script>
        $(document).ready(function(){

        });

        function start(){
        }

        function Submit(){
            var suc;
            $.post("/login",
            {
                username: $("#username").val(),
                password: $("#password").val()
            },
                function(data, status){
                   // $(document).html(data);
                    //$(document).html("this");
                   // console.log(data)
                    
                   // $(window).html(data)
                    console.log(status)
                    suc = status;
                    //console.log("data:" + data)
            });
        }
    </script>

</head>
<body>

    <h1 style="text-align: center;">Login page</h1>

    <form action="/login" method="POST">
    <input type="user" name="username" id="username">
    <input type="password" name="password" id="password">
    <button type="submit">Login</button>
    </form>
    <% if (message.logged_in == 'true') { %>
        <div class="message"><%= message.success %></div>
    <% } else { %>
        <div class="message"><%= message.fail %></div>
    <% } %>
</body>

</html>
