* {
	margin: 0;
	padding: 0;
}
 
#mainHeader {
	text-align: center;
	padding: 20px;
	font-size: 30px;
	font-style: italic;
	font-family: 'Poiret One', cursive;
	color: #aaa;
}

#mainBody {
	background-color: #000;
}

#hello {
	color: #aaa;
	font-style: normal;
	font-family: 'Raleway', sans-serif;
}

h2 {
	color: #aaa;
	font-family: georgia, times;
	border: 3px;
	text-align: center;
	padding: 5px;
	background-color: rgba(200, 200, 200, 0.0);
}

h3 {
	color: #ffeeee;
	font-family: georgia, times;
	border: 3px;
	text-align: center;
	padding: 5px;
	/* background-color: rgba(200, 200, 200, 0.8); */
	background-color: #3f3f3f;
}



.symbolText {
	color: #aaa;
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
}

#symbol {
	color: #fffeee;
	padding-bottom: 20px;
}

.textContent {
	color: #aaa;
	font-family: 'Raleway', sans-serif;
}

p {
	font-size: 20px;
	
	background-color: rgba(100, 200, 50, 0.0);
	text-align: center;
	padding: 10px;
}

input[type=text] {
	display: block;
	width: 350px;
	height: 40px;
	margin: auto;
	padding: 12px 20px;
	font-size: 17px;
	border: none;
	outline: 0;
	background: transparent;
	border-bottom: 1px solid #aaa;
	color: #fff;
}

.mainInput:focus {
	border-bottom: 1px solid #fff;
}

#submitButton {
	display: block;
	margin: auto;
	width: 390px;
	height: 64px;
	font-family: 'Raleway', sans-serif;
	font-size: 17px;
	color: #000;
	background-color: #aaa;
	cursor: pointer;
	/*border: none;*/
	border-radius: 8px;
}

#submitButton:hover {
	background-color: #ccc;
}

#submitButton:active {
	background-color: #999;
}

#wrap {
	padding: 5px;
	text-align: center;
}

#stock_info {
	padding: 5px;
	color: #000;
}

/*#combined {
	border: 2px solid #000; 
	
} */

.combined {
	background-color: #3f3f3f;
}

table {
	margin-left: auto;
	margin-right: auto;
	background-color: #ffffff;
	border-collapse: collapse;
	border-radius: 8px;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
}

th,
td {
	text-align: left;
	padding: 8px;
	
}

tr:nth-child(even) {
	background-color: #f2f2f2;
}

th {
	background-color: #917474;
	color: #ffffff;
}

#topLeft {
	border-top-left-radius: 8px;
}

#topRight {
	border-top-right-radius: 8px;
}

.loginHeader {
	text-align: center;
	padding: 20px;
	font-size: 30px;
	font-style: italic;
	font-family: 'Poiret One', cursive;
	color: #aaa;
}

.pls {
	position: reive;
	top: 80px;
	font-style: normal;
	font-family: 'Raleway', sans-serif;
	color: #aaa;
}

#username,
#password,
#email {
	display: block;
	width: 350px;
	height: 40px;
	margin: auto;
	padding: 12px 20px;
	font-size: 17px;
	border: none;
	outline: 0;
	background: transparent;
	border-bottom: 1px solid #aaa;
	color: #fff;
}

#username:focus,
#password:focus,
#email:focus {
	border-bottom: 1px solid #fff;
}

#logoutString {
	color: #ffffff;
}

#loginButton {
	display: block;
	margin: auto;
	width: 390px;
	height: 64px;
	font-family: 'Raleway', sans-serif;
	font-size: 17px;
	color: #000;
	background-color: #aaa;
	cursor: pointer;
	border-radius: 5px;
}

#loginButton:hover {
	background-color: #ccc;
}

#loginButton:active {
	background-color: #999;
}

#forgotButton {
	display: block;
	margin: auto;
	position: relative;
	top: 20px;
	color: #aaa;
	background-color: #000;
	font-size: 14px;
	font-family: 'Raleway', sans-serif;
	font-style: italic;
	border: none;
}

#forgotButton:hover {
	color: #fff;
	text-decoration: underline;
	cursor: pointer;
}

#signupButton {
	display: block;
	margin: auto;
	position: relative;
	top: 20px;
	background-color: #000;
	color: #aaa;
	font-size: 14px;
	font-family: 'Raleway', sans-serif;
	border: none;
}

#signupButton:hover {
	color: #fff;
	text-decoration: underline;
	cursor: pointer;
}

#loginBody {
	background-color: #000;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#loginForm {
	position: relative;
	top: 120px;
}
